.message {
  margin: 10px 0px 10px 0px;
  padding: 15px;
  border: 2px solid #B6C8CB;
  border-radius: 10px;
  &__info {
    display: flex;
    margin: 0px 0px 15px 0px;
  }
  &__photo {
    margin: 0px 16px 0px 0px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  &__user {}
  &__name {
    font-size: 16px;
    line-height: 19px;
    color: #141B1C;
  }
  &__date {
    font-size: 12px;
    line-height: 14px;
    color: #141B1C;
  }
  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #141B1C;
  }
}
