.messages {
  width: 825px;
  background-color: #B6C8CB;

  &__container {
    height: 570px;
    display: flex;
    justify-content: space-between;
  }
}

.chat {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 639px;
  border-radius: 10px;
  background-color: #ffffff;
}
